<div class="block-center">
  <ul class="action-list">
    <li class="item"><%= link_to "Страны", countries_admin_locations_path, :class => 'button white' %></li>
    <li class="item"><%= link_to "Регионы", regions_admin_locations_path, :class => 'button white' %></li>
    <li class="item"><%= link_to "Города", cities_admin_locations_path, :class => 'button white' %></li>
  </ul>
</div>
