<ul>
  <li><%= link_to "Настройки", settings_admin_account_path(@account) %></li>
  <li><%= link_to "Пользователи", admin_account_users_path(@account) %></li>
  <li><%= link_to "Статистика" %></li>
</ul>
