<div class="block-center">
<ul class="action-list">
  <li class="item"><%= link_to "Настройки", settings_admin_account_path(@account), :class => 'button white' %></li>
  <li class="item"><%= link_to "Пользователи", admin_account_users_path(@account), :class => 'button white' %></li>
</ul>
</div>
