<h1>Управление аккаунтами (<%= link_to "Создать новый", new_admin_account_path %>)</h1>

<ul>
  <% @accounts.each do |account| %>
    <li><%= link_to account.title, settings_admin_account_path(account) %></li>
  <%end%>
</ul>