<h3>Новый аккаунт</h3>

<%= error_messages_for :account, :header_message => nil, :message => nil -%>
<%= form_for :account, :url => admin_accounts_path, :html => { :method => :post } do |form| %>
  <%= render :partial => 'form', :object => form %>
<%end%>
