<%= render :partial=>'shared/notice' %>
<% form_for :short_url, @short_url = ShortUrl.new, :url=> {:action=> "create"}, :html=>{:id=>:short_form} do |f| %>
  <div>введите адрес который нужно сократить:</div>
  <div><%= f.text_field :origin %></div>
  <div><%= submit_tag 'создать ссылку', :class=>'input_button' %></div>
<%end%>

<script>
	$('#short_form').submit(function() {
	  form_data = $(this).serialize();
		$('#message').remove();
		$.ajax({
		  type: 'post',
			dataType: 'json',
		  url: '<%= shorteners_path %>',
		  data: form_data,
		  success: function(data) {
				if(data.error_message) {
					display_notice(data.error_message);
				}
				if(data.html) {
					$('#history_items').prepend(data.html);
				}
		  }
		});
	  return false;
	});
</script>

