<div class="grid_8 alpha">
  <h2>Создать короткий адрес</h2>

  <%= render :partial=> 'form' %>

  <h2>Преобразованые ссылки</h2>
  <div id='history'>
    <div id="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Просмотров</p>
      <p class="info">Информация</p>
    </div>
    <div id="history_items">
      <%= render :partial=> 'short_url', :collection=> @short_urls %>
    </div>
  </div>
</div>

<div class="grid_4 omega">
  <p><strong>ЧТО ТАКОЕ КОРОТКИЙ АДРЕС:</strong></p>
  <p>Сервис сокращения адресов позволеят сократить длинный адрес сайта в короткий его эквивалент. Это может быть полезно для передачи адреса сайта через смс.</p>
  <p>Когда пользователь переходит по ссылке короткого адреса - система переводит его на полноценный сайт предварительно собрав статистическую информацию о времени и регионе перехода.</p>
  <p><strong>ИСПОЛЬЗОВАНИЕ:</strong></p>
  <ul>
    <li>Введите адрес сайта.</li>
    <li>Нажмите кнопку "создать ссылку".</li>
    <li>Используйте короткий адрес в смс.</li>
    <li>Используйте короткий адрес в Баркоде.</li>
    <li>Изучайте статистику посещений!</li>
  </ul>
</div>