<div class="grid_8 alpha">
	<h2>Создать короткий адрес</h2>

	<% form_for :short_url, @short_url = ShortUrl.new, :url=> {:action=> "create"}, :html=>{:id=>:short_form} do |f| %>
		<div>введите адрес который нужно сократить:</div>
		<div><%= f.text_field :origin %></div>
		<div><%= submit_tag 'создать ссылку (ctrl + enter)', :class=>'input_button' %></div>
	<%end%>

	<div id="status_bar" style="height:10px;"></div>

	<h2>Преобразованые ссылки</h2>
	<div id='history'>
		<div id="history_subhead">
		  <p class="date">Добавлено</p>
		  <p class="clicks">Просмотров</p>
		  <p class="info">Информация</p>
		</div>
		<div id="history_items">
			<%= render :partial=> 'short_url', :collection=> @short_urls %>
		</div>
	</div>
</div>

<script>
	$('#short_form').keydown(function(event) {
		if(event.ctrlKey&&event.keyCode==13) {
			$('#short_form').submit();
		}
	});
	$('#short_form').submit(function() {
	  form_data = $(this).serialize();
		$('#message').remove();
		$.ajax({
		  type: 'post',
			dataType: 'json',
		  url: '<%= shorteners_path %>',
		  data: form_data,
		  success: function(data) {
				if(data.error_message) {
					$('#status_bar').append("<div id='message'>"+data.error_message+"</div>");
				}
				if(data.html) {
					$('#history_items').prepend(data.html);
				}
		  }
		});
	  return false;
	});
</script>

<div class="grid_4 omega">
	<p><strong>ЧТО ТАКОЕ КОРОТКИЙ АДРЕС:</strong></p>
	<p>Сервис сокращения адресов позволеят сократить длинный адрес сайта в короткий его эквивалент. Это может быть полезно для передачи адреса сайта через смс.</p>
	<p>Когда пользователь переходит по ссылке короткого адреса - система переводит его на полноценный сайт предварительно собрав статистическую информацию о времени и регионе перехода.</p>
</div>