<ul class="action-listing">
  <li class="item"><%= link_to "Заявки на приглашения", admin_invites_path, :class=> 'button white' %></li>
  <li class="item"><%= link_to "Пользователи", admin_accounts_path, :class=> 'button white' %></li>
  <li class="item"><%= link_to "Мобильные компании", published_admin_mobile_campaigns_path, :class=> 'button white' %></li>
  <li class="item"><%= link_to "Мобильные компании (ожд)", pending_admin_mobile_campaigns_path, :class=> 'button white' %></li>
</ul>