<ul>
  <li><%= link_to "Заявки на приглашения", admin_invites_path %></li>
  <li><%= link_to "Все аккаунты", admin_accounts_path %></li>
  <li><%= link_to "Мобильные компании (Ожидание)", pending_admin_mobile_campaigns_path %></li>
  <li><%= link_to "Мобильные компании (Опубликованые)", published_admin_mobile_campaigns_path %></li>
</ul>