<ul class="action-listing">
  <li class="item"><%= link_to "Заявки на приглашения", admin_invites_path, :class => 'button white' %></li>
  <li class="item"><%= link_to "Страны, Регионы, Города", cities_admin_locations_path, :class => 'button white' %></li>
  <li class="item"><%= link_to "Пользователи", admin_accounts_path, :class => 'button white' %></li>
  <li class="item"><%= link_to "Мобильные страницы", pending_admin_mobile_campaigns_path, :class => 'button white' %></li>
</ul>