custom {display: none;}

/* header */
.head {
  margin: 0 auto 20px auto;
  padding-top: 20px;
}

/* navigation */

.pretend-row {
  padding: 5px 5px 10px 30px;
  background-color: #FDF3DE;
  -moz-border-radius: 5px 5px 5px 5px;
}

.menu {float: right; }

.menu ul { 
  margin: 0;
  padding: 0;
  display: table-row; 
}

.menu li {
  display: table-cell;
}

.menu a {
  display: block;
  padding: 1px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #50799A;
}

.menu a:hover {text-decoration: underline;}
.menu .active a {}


/* notice */
.status_bar {
	height: 12px;
	margin-bottom: 15px;
}

.benefit-list {
  margin: 1em 0 1em 2em !important;
}

.benefit-list .item {
  list-style-type: circle;
  margin-bottom:0.5em;
  margin-top:0.5em;
}

.input-list .item {
  margin-bottom: 10px;
}

.error-field .text-field {
  border: 1px solid #ff3838;
}

/* form */
form { background: #F4F4F4;padding: 10px;}
form div {padding: 2px;}
input[type=text] {width: 100%;font-size: 20px;color: #50799A;}
textarea {width: 100%;height: 65px;font-size: 15px;color: #50799A;}

/* submit button */
.submit_button { width:40%;}

/* history */
.history { clear: both; width: 100%; float: left; }
.history p { margin: 0; }
.history .date, .history .clicks, .history .images { float: left; }
.history .date { width: 90px; }
.history .info { margin-left: 200px; }

.history_subhead { color: #999; text-transform: uppercase; font-size: 10px; }

.history_item { width: 100%; float: left; padding: 8px 0 14px 0; }
.history_item .date { font-size: 1.2em; } 
.history_item .clicks { font-size: 11px; } 
.history_item .clicks strong { display: block; font-size: 30px; line-height: 30px; padding-bottom: 2px; } 
.history_item .clicks em { display: block; font-style: normal; font-size: 20px; padding-top: 4px; line-height: 20px; }
.history_item .clicks em a { color:#999; }
.history_item .images { font-size: 11px; } 
.history_item .info .title { margin: 0 0 5px 0; padding: 0; font-size: 20px; }
.history_item .info .title a {display: block;font-size: 20px;color: #50799A;}
.history_item .info .title span.edit_title { font-size:11px; }
.history_item .info > span { font-size: 10px; text-transform: uppercase; }
.history_item .twitter { margin: 0; padding: 5px 0; }
.history_item span.edit_title input { width:350px; font-size:14px; }
.history_copy a { display:none;}

ul.history_actions { margin: 12px 0 0 0; padding: 0; list-style:none; }
ul.history_actions li { float:left; margin: 0 10px 0 0; padding: 0; text-align: center; }
ul.history_actions a { display:block; height: 20px; font-size:12px; color:#888; }

/*  barcodes */
.bar_code { float: left; margin: 10px; }
.qr-code-preview { width: 90px; height: 90px;}