.action-listing .item {
  margin-bottom: 10px;
}

/* Dashboard navigation */
.ajax_pagination {
  padding-left: 25px;
}

.ajax_pagination.loading {
  background: url("/images/ajax-loader-small.gif") no-repeat;
}
