<div class="grid_12 menu">
	<ul>
		<li><%= link_to "QR коды", barcodes_path %></li>
		<li><%= link_to "Мобильныe страницы", mobile_campaigns_path%></li>
		<li><%= link_to "Короткие адреса", shorteners_path %></li>
	</ul>
</div>
