<script>
	var display_notice = function(message) {
		$('#status_bar').append("<div id='message' style=''>"+message+"</div>");
		$('#message').show('slow').delay(4000).hide('slow');
	}
</script>

<div id="status_bar"></div>