<script>
  var display_notice = function(holder, message) {
    $(holder).children().remove();
    $(holder).append("<div>"+message+"</div>");
    $(holder).show('slow').delay(4000).hide('slow');
  }
</script>

<div id="<%= notice %>" class="status_bar"></div>