<script>
  /*@deprecated*/
  var display_notice = function(holder, message) {
    $(holder).children().remove();
    $(holder).append("<div>"+message+"</div>");
    $(holder).show('slow').delay(4000).hide('slow');
  }
  
  var show_notice = function(message) {
    $('.status_bar').children().remove();
    $('.status_bar').append("<span>"+message+"</span>");
    $('.status_bar').show('slow').delay(4000).hide('slow');
  }
  
</script>

<div id="<%= notice || 'notice' %>" class="status_bar"><%= flash[:notice] %></div>