<div class="grid_8 alpha">
  <h3>Начните использовать мобильныки ваших клиентов!</h3>
  
  <p>Благодаря ЯМКО вы сможете:</p>
  <ul class="reasons">
    <li>Создать мобильный сайт вашего бизнеса или вашей рекламной акции в течении всего 10 мин.</li>
    <li>С помощью простого редактора вы можете загружать изображения ваших блюд, размещать галерею ваших товаров.</li>
    <li>Просматривать статистику о посетилелях - это поможет вам оценить эффективность вашей рекламы.</li>
    <li>Получить постоянную ссылку на ваш мобильный сайт и использовать его в смс рассылках.</li>
    <li>Вы также можете использовать несколько ссылок для того чтоб определить какая рассылка привлекла больше внимания.</li>
  </ul>
</div>

<div class="grid_4 omega">
  
</div>