<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ямко - навигатор выгодных предложений</title>
    <style type="text/css"><%= compress_css render(:partial => 'rackup/shared/layout_css') %></style>
  </head>
  
  <body>
    <div class="hd row pos-c">
      <span><%= link_to "yamco.mobi", "http://yamco.mobi" %> - лучшие предложения города</span>
    </div>
    <div class="bd">
      <div class="c-block">С помощью сервиса <a href="http://yamco.mobi">yamco.mobi</a> вы сможете:</div>
      <div class="c-block">
        <ul class="content-list">
          <li class="item">Просматривать предложения ресторанов, бутиков, развлекательных центров.</li>
          <li class="item">Получать акционные уведомления от компаний клиентом которых вы являетесь.</li>
          <li class="item">Используя поиск на сайте узнавать об акциях и скидках в вашем городе, спланировать свой шопинг, выбрать подарки или хороший ресторан.</li>
          <li class="item">И много других полезных функций которые будут доступны в любое время и в любом месте с помощью вашего мобильного телефона.</li>
        </ul>
      </div>
      <div class="c-block">На данный момент доступ к сервису временно ограничен. Но совсем скоро мы откроем его для всех желающих, но только тогда когда убедимся что наша система стабильна, безопасна и сможет круглосуточно отвечать на запросы наших посетителей и отвечать верно на заданный вопрос.</div>
      <div class="c-block">Используя функцию закладок в вашем браузере, поместите <a href="http://yamco.mobi">yamco.mobi</a> в закладки - тогда вы сможете быстрым переходом, в удобное время получать информацию о полезных функциях нашего сервиса.</div>
    </div>
    <div class="ft row pos-c">
      <ul class="ft-list">
        <li class="item"><span class="cpr">Ямко &copy;<%= Time.now.year %></span></li>
        <li class="item navi"><%= link_to "Главная", "http://yamco.mobi" %></li>
      </ul>
    </div>
  </body>
</html>
