<h3>Контекстные Маркеры</h3>

<p class='hint'>Контекстные Маркеры используютя для того чтоб категоризировать пользовательский контент и ассоциировать его с конкретным Городом, Местом и Категорией(Метке).</p>

<h4>Города</h4>

<div class="posC">
  <%= link_to 'Добавить', '#', :class => 'button white' %>
</div>

<div class="tags-listing">
  
</div>

<h4>Места</h4>

<div class="posC">
  <%= link_to 'Добавить', '#', :class => 'button white' %>
</div>

<div class="tags-listing">
  
</div>

<h4>Метки</h4>

<div class="posC">
  <%= link_to 'Добавить', '#', :class => 'button white' %>
</div>

<div class="tags-listing">
  
</div>

