<h1>Завки на создание аккаунта</h1>

<% @invites.each do |invite| -%>
  <ul>
    <li><span class="h4"><%= invite.company.humanize %></span> (тел: <%= invite.phone %>, email: <%= invite.email %>)</li>
    <li class="hint item"><%= invite.comment %></li>
  <ul>
<%end-%>
