<script>
  $(document).ready(function() {
    $('.history_actions .remove').live('click', function() {
      if(confirm("Вы действительно хотите удалить?")) {
        container = $(this).parents('div.history_item:first');
        resource_id = container.find('custom').text();
        if(resource_id != null) {
            path = '<%= barcode_path(-1) %>';
            path = path.replace('-1', resource_id);

            $.ajax({
              type: 'delete',
              url: path,
              success: function(data) { container.hide(); }
            });
        }
      }
    });
  });
</script>

<div class="grid_8 alpha">
  <h2>Создать QR код</h2>

  <%= render :partial=> 'form' %>

  <h2>Сгенерированые коды</h2>
  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="images">Изображение</p>
      <p class="info">Информация</p>
    </div>
    <div id="bar_code_element">
      <%= render :partial=> 'bar_code', :collection=> @bar_codes %>
    </div>
  </div>
	
</div>

<div class="grid_4 omega">
  <p><strong>ЧТО ТАКОЕ QR-КОД:</strong></p>
  <p>QR код «QR - Quick Response - Быстрый Отклик» — это двухмерный штрихкод (бар-код), предоставляющий информацию для быстрого ее распознавания с помощью камеры на мобильном телефоне.</p>
  <p>При помощи QR-кода можно закодировать любую информацию, например: текст, номер телефона, ссылку на сайт или визитную карточку.</p>
  <p><strong>ИСПОЛЬЗОВАНИЕ:</strong></p>
  <ul>
    <li>Возьмите мобильный телефон с камерой.</li>
    <li>Запустите программу для сканирования кода.</li>
    <li>Наведите объектив камеры на код.</li>
    <li>Получите информацию!</li>
  </ul>
</div>