/* builder */

a {
  color: #02627A;
}

a:hover {
  text-decoration: none;
}

#action {
  height: 50px;
}

#action input {
	width: 54%;
	float: left;
	font-size: 16px;
}

#action ul li {
	list-style: none;
	font-size: 16px;
  float: left;
	padding: 6px;
	margin-left: 10px;
}

#action #notice {
  text-align: center;
}

.document_partial {
  margin: 10px 0;
  border: 1px solid #999;
  padding: 10px;
  background-color: #ccc;
  overflow: hidden;
}

.toolbar {
	margin-bottom: 10px;
	overflow: hidden;
}

.toolbar .move,
.toolbar .remove {
  display: inline-block;
}

.toolbar .move {
	cursor: move;
}

.toolbar .remove {
	cursor: pointer;
}

.text_container {
	width: 100%;
	height: 125px;
}

.text_container textarea {
	height: 125px;
	resize: none;
}

input, textarea {
  color: black;
  font-size: 16px;
  width: 100%;
}

.header_container {
	width: 100%;
}

.header_container .header {
	width: 100%;
}

.header input {
  font-size: 20px;
  padding: 5px 0;
}

.image_container {
  width: 100%;
  min-height: 100px;
  text-align: center;
}

.image_container .image {
  width: 100px;
  min-height: 100px;
  margin: 5px 5px 0px 5px; 
  float: left;
  text-align: center;
}

.image > .controls > .move,  .image > .controls > .remove {
  position: absolute;
  font-size: 9.5px;
  background-color: #CCCCCC;
}

.image > .controls > .move {
  cursor: move;
  right: 5px;
}

.image > .controls > .remove {
  cursor: pointer;
  bottom: 15px;
  right: 5px;
}

.droppable {
  background-color: #fff;
  border: 1px dashed #666;
  color: #666;
  font-size: 20px;
  overflow: hidden;
}

.droppable-hover {
	background-color: #50799A;
}

.draggable, .sortable {
	cursor: move;
}

.ui-icon-trash {
	position: absolute;
	bottom: 15px;
	left: 5px;
}

#document_partials ul li {
	list-style: none;
  float: left;
	background-color: #555;
	cursor: pointer;
	padding: 5px 10px;
	margin: 15px 10px 0 0;
	margin-right: 10px;
	margin-top: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-webkit-box-shadow: 5px 5px 8px #888;
	color: #fff;
}

.ui-slider {
  clear: left;
}

#gallery {
  padding: 10px;
  margin-left: 15px;
}

.assets {
}

.assets .container {
  float: left;
  margin-right: 6px;
}

/* preview */

#resolutions {
  cursor: pointer;
}

#settings iframe {
  width: 128px;
  height: 160px;
}