/* builder tools */

#document_partials ul li {
  list-style: none;
  float: left;
  cursor: pointer;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 15px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #CCCCCC;
  font-weight: bold;
  padding: 6px 7px 4px;
  color: #02627A;
}


a {
  color: #02627A;
}

a:hover {
  text-decoration: none;
}


.controls input {
  width: 320px;
  float: left;
  font-size: 16px;
}

.controls .actions li {
  list-style: none;
  font-size: 16px;
  float: left;
  padding: 6px;
  margin-left: 10px;
}

.controls #notice {
  text-align: center;
}


/* document partials */

.document_partial {
  margin: 10px 0;
  padding: 1em;
  overflow: hidden;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #E4E4E4;
}

.toolbar {
	margin-bottom: 10px;
	overflow: hidden;
}

.toolbar .move,
.toolbar .remove {
  display: inline-block;
}

.toolbar .move {
	cursor: move;
}

.toolbar .remove {
	cursor: pointer;
}

.element_resizer {
  cursor: move;
}

.text_container {
	width: 100%;
}

.text_container textarea {
  height: 125px;
  resize: none;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #000000;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding: 6px 0px;
}


.header_container {
	width: 100%;
}

.header_container input[type="text"] {
  width: 100%;
  font-weight: bold;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  color: #000000;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1.3em;
  line-height: 1.8em;
  padding: 6px 0px;
}


.header_container .header {
	width: 100%;
}

.header input {
  font-size: 20px;
  padding: 5px 0;
}

.image_container {
  width: 100%;
  min-height: 100px;
  text-align: center;
}

.image_container .image {
  width: 100px;
  min-height: 100px;
  margin: 5px 5px 0px 5px; 
  float: left;
  text-align: center;
}

.image .controls .move,  .image .controls .remove {
  position: absolute;
  font-size: 9.5px;
  background-color: #CCCCCC;
}

.image .controls .move {
  cursor: move;
  right: 5px;
}

.image .controls .remove {
  cursor: pointer;
  bottom: 15px;
  right: 5px;
}

.droppable {
  background-color: #fff;
  border: 1px dashed #666;
  color: #666;
  font-size: 20px;
  overflow: hidden;
}

.droppable-hover {
	background-color: #50799A;
}

.draggable, .sortable {
	cursor: move;
}

.ui-icon-trash {
	position: absolute;
	bottom: 15px;
	left: 5px;
}

.ui-slider {
  clear: left;
}


.likeit_control input {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.likeit_control .title {
  width: 130px;
}

.likeit_control .tag {
  width: 60px;
}

.likeit_container {
  margin: 15px 5px 0px 5px;
}

.likeit_container .button {
  -moz-border-radius: 5px 5px 5px 5px; 
  -webkit-border-radius: 5px 5px 5px 5px;
  border: 1px solid #CCCCCC;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 7px 4px;
  color: #50799A;
}

/* image gallery widget */

.widget-container {
  position: fixed;
  padding: 10px;
  margin-left: 15px;
}

.gallery-widget .navigation-tools {
  margin-top: 5px;
  margin-bottom: 12px;
}

.gallery-widget .items .container {
  float: left;
  margin-right: 6px;
}

.gallery-widget .notice {
  display: none;
}

.navigation-tools .loading {
  display: none;
  padding-left: 20px;
  background:url("/images/ajax-loader-small.gif") no-repeat left center;
  padding-right: 78px;
}


/* preview (settings) */

#resolutions {
  cursor: pointer;
}

#settings iframe {
  width: 128px;
  height: 160px;
}