<div class="block-center">
<ul class="action-list">
  <li class="item"><%= link_to "Опубликованые", published_admin_mobile_campaigns_path, :class => 'button white' %></li>
  <li class="item"><%= link_to "Ожидают", pending_admin_mobile_campaigns_path, :class => 'button white' %></li>
</ul>
</div>
