<h1>Мобильные страницы: Ожидание публикации</h1>

<ul>
  <% @pending_campaigns.each do |mbc| %>
  <li>
    <div><%= link_to campaign_title_with_shortener(mbc), mobile_app_campaign_url(mbc), :target => 'blank' %></div>
    <span class="actions">
      <%= button_to 'Опубликовать', publish_admin_mobile_campaign_path(mbc), :method => :put %> 
      <%= button_to 'Отправить на доработку', cancel_admin_mobile_campaign_path(mbc), :method => :put %>
      <%= button_to 'Архивировать', archive_admin_mobile_campaign_path(mbc), :method => :put %>
    </span>
    <div class="clear">&nbsp;</div>
  </li>
  <%end%>
</ul>