<h1>Мобильные страницы: Опубликованые</h1>

<ul>
  <% @published_campaigns.each do |mbc| %>
  <li>
    <div>
      <%= link_to campaign_title_with_shortener(mbc), mobile_app_campaign_url(mbc), :target => 'blank' %>
    </div>
    <span class="actions">
      <%= button_to 'Cнять с публикации', unpublish_admin_mobile_campaign_path(mbc), :method => :put %>
      <%= button_to 'Отправить на доработку', cancel_admin_mobile_campaign_path(mbc), :method => :put %>
      <%= button_to 'Архивировать', archive_admin_mobile_campaign_path(mbc), :method => :put %>
    </span>
    <div class="clear">&nbsp;</div>
  </li>
  <%end%>
</ul>