<div class="bd">
  <h3>Доступ к странице ограничен</h3>
  
  <div class="c-block">
    <p>На данный момент запрашиваемая страница закрыта для просмотра.</p>
  </div>
</div>
<%= render :partial => 'mobile_app/shared/see_more' %>