<div class="bd">
  <h3>404 Страница не найдена</h3>
  
  <div class="c-block">
    <p>Ошибка 404 обозначает, что страниц, соответствующих введённому адресу, нет. Причины этому две: либо страница была удалена, либо вы ввели неправильный адрес.</p>
  </div>
</div>
<%= render :partial => 'mobile_app/shared/see_more' %>