<div class="history_item">
  <p class="date"><%= l campaign.created_at, :format=> :short %></p>
  <p class="clicks"><em><strong><%= 0 %></strong></em></p>
  <div class="info">
    <p class="title">
      <span><%= link_to campaign.title, campaign_path(campaign) %></span>
      <ul class="history_actions">
      </ul>
    </p>
  </div>
</div>
