<div class="grid_8 alpha">
  <h2>Сохраненные</h2>
  
  <%= render :partial=>'shared/notice' %>
  
  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Просмотров</p>
      <p class="info">Информация</p>
    </div>
    <div id="history_items">
      <%= render :partial=> 'campaign', :collection=> @campaigns %>
    </div>
  </div>


</div>

<div class="grid_4 omega">
  <p><%= link_to "Создать", new_campaign_path %></p>
  <p><strong>КАК ИСПОЛЬЗОВАТЬ:</strong></p>
  <ul>
    <li>Раздел содержит список всех ваших компаний</li>
    <li>Перейдя по ссылке выбраной компании вы сможете просмотреть детальный отчет о ее результатах</li>
  </ul>
</div>