<div class="grid_8 alpha">
  <h2>Активированые</h2>
  <div id='history'>
    <div id="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Переходы</p>
      <p class="info">Информация</p>
    </div>
    <div id="history_items">
      <%= render :partial=> 'campaign', :collection=> @p_campaigns %>
    </div>
  </div>
  
  <h2>Не активные</h2>
  <div id='history'>
    <div id="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Переходы</p>
      <p class="info">Информация</p>
    </div>
    <div id="history_items">
      <%= render :partial=> 'campaign', :collection=> @un_campaigns %>
    </div>
  </div>
  
</div>

<div class="grid_4 omega">
  <p><%= link_to "Создать!", new_campaign_path %></p>
  <p><strong>ЧТО ТАКОЕ КОМПАНИИ:</strong></p>
</div>