<div class="grid_8 alpha">
  
  <h2><%= @campaign.title %></h2>
  
  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Просмотров</p>
      <p class="info">Информация</p>
    </div>
    <div id="short_url_element">
      <%= render :partial => 'shorteners/short_url', :object => @campaign.short_url %>
    </div>
  </div>
  
  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="images">Изображение</p>
      <p class="info">Информация</p>
    </div>
    <div id="bar_code_element">
     <%= render :partial => 'barcodes/bar_code', :object => @campaign.bar_code %>
    </div>
  </div>
  
</div>