<h3>Панель управления: <%= current_user.account.title %></h3>

<p>Последние добавления</p>

<ul>
  <% @dashboard_tails.each do |tail| -%>
    <li><%== clickable_dashboard_item(tail, :for => :admin) %></li>
  <%end-%>
</ul>