<script>
$(document).ready(function() {
  SMBS.MobileCampaign.ImageGalleryWidget.init('<%= @campaign.try(:id) %>')
  
<% if @campaign %>
  SMBS.MobileCampaign.ImageGalleryWidget.enable(<%= "'show enabled notice'" if @images.empty? %>)
<%else%>
  SMBS.MobileCampaign.ImageGalleryWidget.disable()
<%end%>
})
</script>

<h2>Галерея</h2>

<div class="gallery-widget">
  <div class="items"><%= render :partial => 'image_asset', :collection => @images %></div>
  <span class="disabled notice">Пока макет мобильной страницы не сохранен вы не можете загружать изображения в Галерею</span>
  <span class="enabled notice">Вы можете загружать одновременно несколько изображений, важно чтоб размер одного файла не привышал 1Мб</span>
</div>

<div class="clear">&nbsp;</div>

<div id="file-uploader"></div>

