<% if partials == 'header_container' %>
  <div class="document_partial"style="display: none;">
    <div class="toolbar">
      <span class="move">переместить</span> <span class="remove">удалить</span>
      <span class="text_control">панель инструментов</span>
    </div>
    <div class="header_container">
      <div class="header"><input name="header"/></div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
<%end%>


<% if partials == 'text_container' %>
  <div class="document_partial"style="display: none;">
    <div class="toolbar">
      <span class="move">переместить</span> <span class="remove">удалить</span>
      <span class="text_control">панель инструментов</span>
    </div>
    <div class="text_container"><textarea name="text"></textarea></div>
    <div class="clear">&nbsp;</div>
  </div>
<%end%>


<% if partials == 'image_container' %>
  <div class="document_partial"style="display: none;">
    <div class="toolbar">
      <span class="move">переместить</span> <span class="remove">удалить</span>
      <div class="image_slider"></div>
    </div>
    <div class="image_container droppable">Переместите изображение из галлереи</div>
    <div class="clear">&nbsp;</div>
  </div>
<%end%>