<div class="grid_8 alpha">
  <h2>Мобильные страницы</h2>

  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Просмотров</p>
      <p class="info">Информация</p>
    </div>
    <div>
      <%= render :partial=> 'campaign', :collection=> @campaigns %>
    </div>
  </div>
  
</div>

<div class="grid_4 omega">
    <p><%= link_to "Создать Мобильную Страницу", new_mobile_campaign_path, :class => 'button' %></p>
    <p><strong>КАК ИСПОЛЬЗОВАТЬ:</strong></p>
</div>
