<div class="grid_8 alpha">
  <h2>Мобильные страницы</h2>

  <div class='history'>
    <div class="history_subhead">
      <p class="date">Добавлено</p>
      <p class="clicks">Просмотров</p>
      <p class="info">Информация</p>
    </div>
    <div>
      <%= render :partial => 'campaign', :collection => @campaigns %>
    </div>
  </div>
  
  <%= paginate @campaigns, :renderer => PaginationHelper::CampaignsLinkRenderer %>
  
</div>

<div class="grid_4 omega">
    <p><%= link_to "Создать Мобильную Страницу", new_mobile_campaign_path, :class => 'button' %></p>
    <p><strong>ЧТО ТАКОЕ МОБИЛЬНАЯ СТРАНИЦА:</strong></p>
    <p>Редактор создания мобильных страниц представляет собой инструмент с помощью которого вы сможете создать интернет сайт который будет доступен для всех современных мобильных телефонов.</p>
    <p>Мобильная страница состоит из таких компонентов как "Заголовок", "Текст", "Галерея Изображений".</p>
    <p>Для создания Мобильной Страницы вы просто размещаете на документе нужный компонент, заполняете его содержимым, меняете их местами, перемещаете или удаляете блок. Таким образом создание Мобильной Страницы не требует каких либо технических знаний или особых навыков.</p>
    <p><strong>КАК ИСПОЛЬЗОВАТЬ:</strong></p>
    <p>Для того чтоб создать эффективную и приятную страницу вы должны хорошо оформить текст и подобрать качественные изображения.</p>
    <p>После того как вы наполнили документ содержанием, вы можете перейти в раздел <strong>"Настройки"</strong> и предварительно просмотреть как в действительности она будет выглядеть.</p>
    <p>После того как документ готов к публикации вы должны присвоить странице короткий адрес, нажав кнопку <strong>"Создать Автоматически"</strong> в разделе "Установить короткий адрес".</p>
    <p>Подать заявку на публикацию, нажав кнопку <strong>"Опубликовать Страницу"</strong> в разделе "Статус страницы". После того как заявка будет обработана - вы получите детальное письменное уведомление.</p>
</div>
