<div class="container_12 footer">
  <div class="posC"><span class="hint">&copy; <%= Time.now.year %> <a href="/" title="Главная страница">Ямко</a> (proof of concept, <%= Smbs::Application::CURRENT_TAG %>). Служба поддержки: support@yam.co.ua</span>
  </div>
 <div class="posC"><span class="additional-info">Технологический партнер проекта компания: &copy; <a href="http://railsware.com/" target=_blank"">Railsware LLC</a></span></div>
</div>