<div class="container_12 footer posC">
 <span class="hint">&copy; <%= Time.now.year %> Ямко (proof of concept, <%= Smbs::Application::CURRENT_TAG %>). Служба поддержки: support@yam.co.ua</span>
</div>