<script>
  jQuery(document).ready(function() { 
    if(jQuery.browser.msie) {
      SMBS.Popup.open('unsupported_browser_popup', '600px', '495px', {closeable:false});
    }
  });
</script>

<div id="unsupported_browser_popup" class="popupContent" style="display:none;">
  <h3>Поддерживаемые браузеры</h3>
  <p>Для доступа к панели управления Yamco можно использовать только один из указанных ниже браузеров.</p>
  <p><a href="http://www.google.com/#q=установить+последнюю+версию+браузера&amp;aq=f&amp;oq=&amp;aqi=g10&amp;fp=1&amp;cad=b">Установить</a> последнюю версию браузера очень просто. Для этого зайдите на веб-сайт браузера который вы выбрали и загрузите самую последнюю его версию. Здесь вы найдете необходимые инструкции по установке и использованию новой версии браузера.
  </p>
  
  <p>Google Chrome 4.0 или более поздние версии (загрузить версию для <a href="http://www.google.com/chrome/?hl=ru">Windows или Mac</a>)</p>
  <p>Firefox 3.0 или более поздние версии (загрузить версию для <a  href="http://www.mozilla-europe.org/ru/">Windows или Mac</a></p>
  <p>Safari 3.0 или более поздние версии (загрузить версию для <a href="http://www.apple.com/ru/safari">Mac</a>)</p>
  <p>Opera 11 или более поздние версии (загрузить версию для <a href="http://ru.opera.com/download/">Windows или Mac</a>)</p>
  
  <h5>Почему я вижу это сообщение?</h5>
  <p>Если вы видите это сообщение, значит в настоящее время вы просматриваете Yamco в устаревшей версии браузера. Чтобы пользоваться новыми функциями Yamco, которые скоро будут запущены, необходимо обновить версию браузера или выбрать один из поддерживаемых браузеров из списка.</p>
</div>