<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>smbs.local</title>
      <%= stylesheet_link_tag 'reset', '960', 'layout', 'text', :cache=> true %>
      <%= javascript_include_tag 'vendor/jquery-min', 'smbs', :cache=> true %>
      <%= csrf_meta_tag %>
    </head>
    <body>
       <%= yield %>
    </body>
</html>
